{% extends "network/basic.html" %}


{% block content %}
{% load static %}

	<div style="min-height: 100%; position: relative;">
		<div class="col-md-8" style="position: absolute; top: 0; bottom: 0; left: 4%;">
			<section>
				<div class="row">
					<div class="col-md-3">
						<h2>Resources</h2>
						<div class="list-group">
							<a class="list-group-item list-group-item-action" href="#">
								<div class="justify-content-between">
									<h5 class="mb-1">Sample Schedules</h5>
									<small>View previous schedules of successful graduates</small>
								</div>
							</a>
							<a class="list-group-item list-group-item-action" href="#">
								<div class="justify-content-between">
									<h5 class="mb-1">Wellness Center</h5>
									<small>See mental health recources</small>
								</div>
							</a>
							<a class="list-group-item list-group-item-action" href="#">
								<div class="justify-content-between">
									<h5 class="mb-1">How-To's</h5>
									<small>Access recipes for success at W&M</small>
								</div>
							</a>
							<a class="list-group-item list-group-item-action" href="#">
								<div class="justify-content-between">
									<h5 class="mb-1">Network</h5>
									<small>Expand your network by connecting with W&M graduates and professionals</small>
								</div>
							</a>
					</div>
				</div>
			</section>
		</div>

		<div class="col-md-8" style="position: absolute; top: 0; bottom: 0; left: 25%">
			<section>
				<h1>Discover Questions</h1>
				<table class="table table-hover table-light">
					<thead>
						<tr>
							<th scope="col">Question</th>
							<th scope="col">Answers</th>
							<th scope="col">Date Posted</th>
						</tr>
					</thead>
					<tbody>
						{% for question in all_questions %}
						<tr>
							<th scope="row"><a href="/network/{{ question.id }}">{{ question.title }}</a></th>
							<td>{{ question.answers_tot }}</td>
							<td>{{ question.datetime }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		</div>
	</div>

	<div style="width: 100%;">
		<div class="container" style="margin: 0 auto">
			<div class="row">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="{% static 'network/images/_QuirogaD.png' %}">
						<div class="card-body">
							<h5 class="card-title">Card Title</h5>
							<p class="card-text">Uhhh</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="{% static 'network/images/_DiazJ.png' %}">
						<div class="card-body">
							<h5 class="card-title">Card Title</h5>
							<p class="card-text">Uhhh</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="{% static 'network/images/_EspnG.JPG' %}">
						<div class="card-body">
							<h5 class="card-title">Card Title</h5>
							<p class="card-text">Uhhh</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="{% static 'network/images/_MejiaB.png' %}">
						<div class="card-body">
							<h5 class="card-title">Card Title</h5>
							<p class="card-text">Uhhh</p>
							<a href="#" class="btn btn-primary">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}