{% extends "network/basic.html" %}

{% block content %}
	
	<div class="container">
		<div class="card">
			<div class="card-header">
				<span>{{ question.user }}</span>
				<small class="ml-3 float-right">Asked on {{ question.datetime }}</small>
				<span class="badge badge-primary float-right">{{ question.category }}</span>
			</div>
			<div class="card-body">
				<h3 class="card-title">{{ question.title }}</h3>
				<p>{{ question.question }}</p>
			</div>
		</div>

		{% if answers %}
			<h3 class="mt-3 mb-3">Answers</h3>
		{% endif %}
		{% for answer in answers %}
		<div class="card mt-2">
			<div class="card-header">
				<span><b>{{ answer.user }}</b></span>
				<small class="ml-3 float-right">Answered on {{ answer.datetime }}</small>
				<p>{{ answer.answer }}</p>
			</div>
		</div>
		{% endfor %}

		<a class="btn btn-primary mt-2" role="button" href="{% url 'answers' q_id=question.id %}">Answer</a>

	</div>

{% endblock %}