{% load tt %}

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #101D42">
  <a class="navbar-brand text-white" href="/network/">1st Gens @ W&M</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" type="search" placeholder="Search Answers" aria-label="Search">
    </form>

    <ul class="navbar-nav ml-2">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-white" href="/network/logout/">Logout</a>
        </li>
      {% else %}
      	<li class="nav-item">
    			<a class="nav-link text-white" href="/network/register/">Register</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link text-white" href="/network/login/">Login</a>
    		</li>
      {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-2">
        <a class="btn btn-primary" role="button" href="/network/mentorapp">Apply to be a Mentor</a>
      </li>
      <li class="nav-item mr-2">
        <a class="btn btn-success" role="button" href="/network/newquestion">Ask a Question</a>
      </li>
      <li class="nav-item ml-2">
        <div class="nav-link text-white" href="#">There are currently {{ all_questions|usercount }} other FGLI members registered</div>
      </li>
    </ul>


    
  </div>
</nav>
