<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #101D42">
  <a class="navbar-brand text-white" href="/network/">Recourse!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" type="search" placeholder="Search Answers" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav ml-2">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-white" href="/network/logout/">Logout</a>
        </li>
      {% else %}
      	<li class="nav-item">
    			<a class="nav-link text-white" href="/network/register/">Register</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link text-white" href="/network/login/">Login</a>
    		</li>
      {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div class="nav-link text-white" href="#">There are currently 8 other FGLI members registered</div>
      </li>
    </ul>


    
  </div>
</nav>
